* {
  /* declaration */
  /* property : value */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*padrao eh content-box*/
}

body {
  height: 100vh;
  color: white;
}

:root {
  font-size: 62.5%;
}

body,
imput,
button,
textarea {
  font-weight: 400;
  font-size: 1.8rem; /*base no elemento root html*/
  line-height: 1;
  font-family: "Nunito", sans-serif;
}
/* o que é uma regra css ? */

* {
  /* declaration */
  /* property : value */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*padrao eh content-box*/
}

/*vai direto na tag root(html) */
:root {
  font-size:  62.5%;
}

body {
  height: 100vh;
  color: white;
}

body,
input,
button,
textarea {
  font-weight: 400;
  font-size: 1.8rem; /*base no elemento root html*/
  line-height: 1;
  font-family: "Nunito", sans-serif;
}





