#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main{
    flex: 1;
  }


form {

    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;
  
    border-radius: 2rem;
  
    overflow: hidden;

    padding: 8rem;
}